/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-family: "Bree Serif", serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    text-align: center;
}

#testoAlternato{
    border: 3px solid black;
  padding-right: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 30px;
}

#testoAlternato p {
    font-size: 2rem;
    line-height: 1.5;
    position: relative;
    text-align: left;
}

.parole {
    display: inline-block;
    position: relative;
    height: 1em; 
    
}

.parole i {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeInOut 12s infinite;
    white-space: nowrap; /*senza questo si sfalsa il testo a scomparsa*/
    color: #6C889C;
    padding-right: 15px;
}

.parole i:nth-child(1) {
    animation-delay: 0s;

}

.parole i:nth-child(2) {
    animation-delay: 4s;

}

.parole i:nth-child(3) {
    animation-delay: 8s;

}


@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateY(10px);

    }
    20%, 30% {
        opacity: 1;
        transform: translateY(-5px);
    }
    37%, 99% {
        opacity: 0;
        transform: translateY(37px);
}
}




/*@keyframes fadeInOut {   <---------------- a me piace di più questo
    0%, 100% {
        opacity: 0;
        transform: translateY(10px);

    }
    20%, 30% {
        opacity: 1;
        transform: translateY(-5px);
    }
    50%, 99% {
        opacity: 0;
        transform: translateY(37px);
}
}
*/