* {
    padding: 0;
    margin: 0;
    font-family: "Indie Flower", cursive;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: grey;
    height: 100vh;
}

.postit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 320px;
    -webkit-box-shadow: 6px 5px 11px -5px rgba(0, 0, 0, 0.96);
    box-shadow: 6px 5px 11px -5px rgba(0, 0, 0, 0.96);
    user-select: none;
}

.postit h2 {
    font-size: 4.2em;
}

.postit p {
    font-size: 2.2em;
}

/*backgroundcolorato*/

.yellow {
    background: linear-gradient(180deg, rgba(254, 254, 204, 1) 67%, rgba(182, 182, 182, 1) 100%);
}

.green {
    background: linear-gradient(180deg, rgb(201, 249, 203, 1) 67%, rgba(182, 182, 182, 1) 100%);
}

.purple {
    background: linear-gradient(180deg, rgb(197, 197, 240, 1) 67%, rgba(182, 182, 182, 1) 100%);
}




.postit:nth-of-type(1) {
    transform: rotate(-3deg);
    transition-duration: 0.5s;
    animation: postitShowUp1 0.5s linear;
    z-index: 0;
}

.postit:nth-of-type(2) {
    transform-origin: bottom left;
    transform: rotate(3deg);
    transition-duration: 0.5s;
    animation: postitShowUp2 0.6s linear;
    z-index: 0;
}

.postit:nth-of-type(3) {
    transform-origin: bottom;
    transform: rotate(-3deg);
    transition-duration: 0.5s;
    animation: postitShowUp3 0.7s linear;
    z-index: 0;
}

.postit:nth-of-type(4) {
    transform-origin: bottom right;
    transform: rotate(4deg);
    transition-duration: 0.5s;
    animation: postitShowUp4 0.8s linear;
    z-index: 0;
}

.postit:nth-of-type(5) {
    transform: rotate(-3deg);
    transition-duration: 0.5s;
    animation: postitShowUp5 0.9s linear;
    z-index: 0;
}

.postit:nth-of-type(6) {
    transform-origin: bottom;
    transform: rotate(-6deg);
    transition-duration: 0.5s;
    animation: postitShowUp6 1s linear;
    z-index: 0;
}

.postit:nth-of-type(7) {
    transform-origin: bottom right;
    transform: rotate(-4deg);
    transition-duration: 0.5s;
    animation: postitShowUp7 1.1s linear;
    z-index: 0;
}

.postit:nth-of-type(8) {
    transform-origin: bottom right;
    transform: rotate(4deg);
    transition-duration: 0.5s;
    animation: postitShowUp8 1.2s linear;
    z-index: 0;
}

/* hover */

.postit:nth-of-type(1):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform: scale(1.2);
    z-index: 1;
}

.postit:nth-of-type(2):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 1;
}

.postit:nth-of-type(3):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 1;
}

.postit:nth-of-type(4):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 1;
}

.postit:nth-of-type(5):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 1;
}

.postit:nth-of-type(6):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 1;
}

.postit:nth-of-type(7):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 1;
}

.postit:nth-of-type(8):hover {
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
    box-shadow: 5px 5px 15px 5px #000000c5;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 1;
}


@keyframes postitShowUp1 {
    0% {
        transform: translate(0px, -600px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(-3deg);
    }

}


@keyframes postitShowUp2 {
    0% {
        transform: translate(-600px, -600px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(3deg);
    }

}

@keyframes postitShowUp3 {
    0% {
        transform: translate(-100px, -200px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(-3deg);
    }

}

@keyframes postitShowUp4 {
    0% {
        transform: translate(-300px, -300px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(4deg);
    }

}

@keyframes postitShowUp5 {
    0% {
        transform: translate(-600px, -600px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(-3deg);
    }

}

@keyframes postitShowUp6 {
    0% {
        transform: translate(600px, -600px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(-6deg);
    }

}

@keyframes postitShowUp7 {
    0% {
        transform: translate(0px, 400px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(-4deg);
    }

}

@keyframes postitShowUp8 {
    0% {
        transform: translate(-600px, 200px) scale(3);
        -webkit-box-shadow: 5px 5px 15px 5px #000000c5;
        box-shadow: 5px 5px 15px 5px #000000c5;
    }

    100% {
        transform: translate(0) scale(1) rotate(4deg);
    }

}
